*{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html,body{
   margin: 0;
   padding: 0;
}
.boxes{
    display: flex;
}
.box1{
    height: 100%;
    width: 29%;
  
}
.box1 h1{
    font-size: 3.5vw;
    padding: 6.2vw;
}

.box2{
    height: 100%;
    width: 30%;
   
}
.box2or3{
    display: flex;
    width: 38vw;
   justify-content: space-between;
}
.box2 .image1{
    height: 30vw;
    width: 18vw;
 overflow: hidden;
    margin-bottom: 0.5vw;
  

}
.box2 .image1 img{
    object-fit: cover;
    object-position: center;
    
  
}
.box2 .image2{
    height: 20vw;
    width: 18vw;
    margin-top: 1vw;

}
.box2 .image2 img{
    object-fit: cover;
    object-position: center;
}
.box2 .button{
    display: flex;
   
}
.box2 button{
    height: 2vw;
    width: 5vw;
    background-color: yellow;
    border: 2px solid black;
    
}
.box2 .image1 img:hover{
    transition: all ease-in-out 1s;
    scale: 1.2;
    
}
.box3{
    height: 100%;
    width: 18vw;
    margin-right: 0.5vw;
   
 
}

.box3 .image1{
    height: 20vw;
    width: 100%;
 
    margin-bottom: 0.5vw;

}
.box3 .image1 img{
    object-fit: cover;
    object-position: center;
}
.box3 .image2{
    height: 30vw;
    width: 100%;
    margin-top: 1vw;

}
.box3 .image2 img{
    object-fit: cover;
    object-position: center;
}
.box4{
    height: 100%;
    width: 30%;
    margin-left:  1vw;
    
}
.box4 .image1{
    height: 30vw;
    width: 20vw;
    
    margin-bottom: 0.5vw;

}
.box4 .image1 img{
    object-fit: cover;
    object-position: center;
}
.box4 .image2{
    height: 20vw;
    width: 20vw;
    margin-top: 1vw;

}
.box4 .image2 img{
    object-fit: cover;
    object-position: center;
}
.box4 .button{
    display: flex;
   
}
/* .box4 button{
    height: 2vw;
    width: 5vw;
    background-color: yellow;
    border: 2px solid black;
    
} */
.box4 .image1 img:hover{
    height: 32vw;
}


@media (max-width:600px) {
    .boxes{
        flex-direction: column;
        width: 100%;
    }
  
    .box1 h1{
        width: 100vw;
        font-size: 6vw;
        padding: 5vw;
        margin-top: 30vw;
       
        
    }
    .box2or3{
        display: flex;
    }
    .box2{
        width: 100%;
        
    }
 
    .box2 .images .image1 {
        height: 80vw;
        width: 50vw;
        
    }
    .box2 .images .image2{
        height: 45vw;
        width: 50vw;
    }
    
    .box3{
        width: 100%;
    }
  
    .box3 .images .image1 {
        height: 60vw;
        width: 48vw;
        margin-left: 13vw;
        
        

    }
    .box3 .images .image2{
        height: 80vw; 
        width: 48vw;
        margin-left: 13vw;
       
      
    }
    .box4{
        width: 100%;
        display: none;
       
        
    }
    .box4 .images{
        display: flex;
    }
 
    .box4 .images .image1 {
        height: 80vw;
        width: 53vw;
        margin-top: 5.2vw;
        margin-right: 2vw;
        
    }
    .box4 .images .image2{
        height: 65vw;
        width: 55vw;
        margin-top: 20.5vw;
        margin-right: 1vw;
    }
    
    
}


.boxes2{
    display: flex;
}

.leftbox2{
    height: 60%;
    width: 50%;
    margin: 9vw;
    background-color: lightcoral;
}
.rightbox2{
    height: 60vw;
    width: 40%;
    background-color: lemonchiffon;
    
}
